*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    
    height: 150px;
    background-color: #1f2937;
    color: white;
}
.header div{
    display: inline-block;
}
.logo{
    margin-right: 450px;
    margin-left: 160px;
    padding-top: 20px;
    
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}
.links{
    font-size: 18px;
    
    text-decoration: none;
}
.links div{
    margin-left: 40px;
}
.link1{
    padding-left: 80px;
}
.links a{
    text-decoration: none;
    color: #E5E7EB;
}
.hero{
    width: 100%;
    height: 300px;
    background-color: #1f2937;
}
.hero1, .hero2{
    display: inline-block;
    background-color: #1f2937;
    width: 600px;
    height: 300px;
    overflow: hidden;
    color: #E5E7EB;
    
} 
.hero2{
    text-align: right;
}
.hero1 h1{
    margin-left: 150px;
    font-size: 48px;
    font-weight: 900px;
    font-weight: bold;
    overflow: hidden;
}
.hero p{
    overflow: hidden;
    margin-left: 150px;
    color: #E5E7EB;
    font-size: 18px;
}
.hero button{
    margin-left: 150px;
    margin-top: 20px;
    color: white;
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    border-radius: 10%;
    border: 0;
    font-size: 17px;
    font-weight: bold;
}

.second{
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 40px;
    background-image: url("./img/center.jpg");
    background-position: center;
    color: white;
    font-style: italic;
}
.subsecond{
    width: 55%;
    height: 160px;
    margin-left: 330px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.subsecond0{
    width: 55%;
    height: 100px;
    margin-left: 330px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}
.subsecond div{
    width: 150px;
   height: 140px;
    border-radius: 10%;
    overflow: hidden;
    display: block;
    color: white;
}
.thirth{
    width: 100%;
    height: 400px;
    background-color: #E5E7EB;
    text-align: left;
    padding-top: 100px;
    color: #1F3927;
    font-size: 25px;
    font-weight: light;
    font-style: italic;
}
.thirth p{
    width: 55%;
    margin-left: 350px;
    
}
.thirth h3{
    margin-left: 880px;
}
.fourth{
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/fourth.jpg");
    background-position: center;
}
.blue{
    width: 55%;
    height: 150px;
    background-color: #3882F6;
    border-radius: 2%;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.blue button{
    background-color: #3882F6;
    border: white 2px solid;
    border-radius: 10%;
    width: 100px;
    height: 30px;
    color: white;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight:lighter;
    font-size: 13px;
}
